<body class="home1">
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<div class="well center">
				<h1 class="jumbotron">
					Jason Loar
				</h1>
				<h3>This is the homepage for Jason Loar.  Below you will find a few things about Jason that he think's you should know.</h3>
			</div>
			
		</div>
	</div>
</div>
</body>