<body class="home1">
  <div class="container">
  	<div class="row">
  		<div class="col-md-5 col-md-offset-1">
  			<div class="well center">
  				<h1 class="jumbotron">
  					Jason Loar
  				</h1>
  				<h3>This is the homepage for Jason Loar.  Below you will find a few things about Jason that he think's you should know.</h3>
  			</div>
      </div>
    </div>
  </div>

	<div class="container span1">
    <div class="row">
      <div class="col-md-4">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">Hobbies</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">History</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">Happy Thoughts</button>
      </div>
      <!-- <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal4" target="_blank">Standard Code's Map</button>
      </div> -->
    </div>
	</div>

  	
  

  <!-- Button trigger modal -->
  <!-- modal1 -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Jason Loar's Hobbies</h4>
        </div>
        <div class="modal-body">
          <ul>
          	<li>Computer stuff (programming, building, modding)</li>
          	<li>Gamming</li>
          	<li>Legos</li>
          	<li>R/C cars, planes, quadcopters, boats</li>
          	<li>Kite flying</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- end modal1 -->

  <!-- modal2 -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Jason Loar's History</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li>Born in Manchester, Iowa</li>
            <li>Has two kids</li>
            <li>Has two dogs</li>
            <li>Has one wife</li>
            <li>Is really bad at creating content</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- end modal1 -->

  <!-- modal3 -->
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Jason Loar's Happy Thoughts</h4>
        </div>
        <div class="modal-body">
          <%= image_tag("happy_face.jpg") %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- end modal1 -->

  <!-- modal4 -->
  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" target="_blank">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Standard Code's Map</h4>
        </div>
        <div class="modal-body">
          <div id="map-canvas"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- end modal1 -->
</body>
