<p id="notice"><%= notice %></p>


<body class="home1">


<h1 class="jumbotron">Answers FAQ Page</h1>



<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @answers.each do |answer| %>
      <div class="panel panel-default">
        <div class="panel-heading"><h2><%= answer.question %></h2></div>
        <div class="panel-body"><%= answer.answer %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</body>