// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #f9f9f9;
	border-right: 80px solid red;
	min-height: 100vh;
	@media (max-width: 768px) {
		border-top: 80px solid red;
		border-right: none;
		min-height: inherit;
	}
}

.logo {
	position: absolute;
	right: 5px;
	top: 46vh;
	width: 70px;
	@media (max-width: 768px) {
		top: 5px;
		left: 50%;
		margin-left: -35px;
	}
}

.home {
	padding: 30px;
	max-width: 50%;
	@media (max-width: 768px) {
		max-width: 100%;
	}
	h1 {
		color: red;
		font-size: 18px;
		margin-top: 0;
	}
}

.mtop-10 {
	margin-top: 10px;
}

.no-bottom {
	margin-bottom: 0px;
}

.padding {
	padding: 10px;
}

.bar {
	border-top:  solid red 5px;
	padding-top: 10px;
}

#bottom {
	margin-top: 20px;
}

.jumbotron {
	text-align: center;
}

.home1 {
	background-image: url("/assets/px_@2X.png");
	// position:relative;
 //    z-index:1;
 //    // height:100px;
 //    // width:100%;
 //    background-attachment:fixed;    /* this keeps the background in place */
 //    // background-size:100% 100%;
 //    background-repeat: repeat;
}

#title {
	color: white;
	text-align: center;
}

.center {
	text-align: center;
}

.autoModal .modal-body {
    max-height: 100%;
}

#text {
	color: white;
}

.rps_body {
	background: url("/assets/pentagon.png");
}

.rps_btn {
	font-size: 30px;
}

.game {
	padding: 20px;
	text-align: center;
}

.rps_jumbotron {
	text-align: center;
	opacity: 100%;
    font-family: 'canterlight';
    src: url('/assets/canter_light-webfont.woff2') format('woff2'),
         url('/assets/cantercanter_light-webfont.woff') format('woff'),
         url('/assets/cantercanter_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.span1 {
	display: flex;
  	/*justify-content: space-around;*/
  	align-items: center;
}

#map-canvas {
	width: 100%;
	height: 500px;
}

.modal iframe {
	width: 100%;
	height: 600px;
}

.btn-lg {
	width: 200px;
}