// Place all the styles related to the rockpaperscissors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rps_body {
	background: url("../assets/pentagon.png");
	position:relative;
    z-index:1;
    height:100px;
    width:100%;
    background-attachment:fixed;    /* this keeps the background in place */
    background-size:100% 100%;
    background-repeat: repeat;
}

.font {
	font-family: "canterlight";
	font-size: 80px;
	text-align: center;
	background-color: transparent;
}

.btn {
	font-size: 30px;
}

.game {
	padding: 20px;
	text-align: center;
}